body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #C4C4C4;
    width: 1600px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

p {
    color: #373737;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 778px;
    top: 25px;
}

.menu-item {
    position: absolute;
    width: 38px;
    height: 21px;
    left: 502px;
    top: 38px;
}

.first {
    position: absolute;
    width: 1600px;
    height: 744px;
    left: 0px;
    top: 0px;
    background-image: url(assets/bg-image.png);
}

.about {
    position: absolute;
    width: 38px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.FAQ {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 1058px;
    top: 38px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.projects {
    position: absolute;
    width: 52px;
    height: 20px;
    left: 923px;
    top: 38px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.syllabus {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 625px;
    top: 38px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.line {
    position: absolute;
    width: 38px;
    height: 0px;
    left: 0px;
    top: 21px;
    border: 1px solid #FFFFFF;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.button {
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    position: absolute;
    width: 184px;
    height: 46px;
    left: 707px;
    top: 406px;
    background: #00AFDB;
    border: 0;
}

.button2 {
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    position: absolute;
    width: 184px;
    height: 46px;
    left: 0px;
    top: 187px;
    background: #00AFDB;
    border: 0;
}

.started {
    position: static;
    width: 90px;
    height: 16px;
    left: calc(50% - 90px/2);
    top: calc(50% - 16px/2);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.socials {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 715px;
    top: 635px;
    background-image: url(assets/);
}

.life {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    height: 75px;
    left: 435px;
    top: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}

.text-head {
    position: absolute;
    width: 504px;
    height: 50px;
    left: 548px;
    top: 326px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    text-align: center;
    color: #FFFFFF;
}

.Rappresent {
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 744px;
    background: #FFFFFF;
}

.idea {
    position: absolute;
    width: 407px;
    height: 233px;
    left: 268px;
    top: 295px;
}

.shead {
    position: absolute;
    width: 367px;
    height: 57px;
    left: 0px;
    top: 0px;
    /* h2-24-bold */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

#tasks {
    position: absolute;
    width: 407px;
    height: 80px;
    left: 0px;
    top: 77px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #4E4E4E;
}

.img1 {
    position: absolute;
    width: 407px;
    height: 582px;
    left: 923px;
    top: 120px;
    background: url(assets/content-image-1.png);
}

.OurCommunity {
    position: absolute;
    width: 1600px;
    height: 504px;
    left: 0px;
    top: 1586px;
}

.frame5 {
    position: absolute;
    width: 298px;
    height: 175px;
    left: 269px;
    top: 155px;
}

.icon1 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 127px;
    top: 0px;
    border-radius: 50%;
    background: url(assets/icon.png)
}

.community1 {
    position: absolute;
    width: 162px;
    height: 20px;
    left: calc(50% - 160px/2);
    top: 65px;
    /* h3-16-upper-bold */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.hacker {
    position: absolute;
    width: 298px;
    height: 80px;
    left: calc(50% - 298px/2);
    top: 95px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4E4E4E;
}

.slider-nav {
    position: absolute;
    width: 83px;
    height: 18px;
    right: 269px;
    top: 82px;
    display: flex;
}

.right {
    margin-right: auto;
    border: 0px;
    /* Для синий ободки */
    border: 0;
    background: transparent;
}

.left {
    color: none;
    border: 0px;
    margin-left: auto;
    /* Для синий ободки */
    border: 0;
    background: transparent;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 894px;
    height: 244px;
    left: 706px;
    top: 120px;
    Overflow: hidden
}

.item {
    padding-right: 30px;
}

.implement {
    position: absolute;
    height: 842px;
    left: 0px;
    top: 2090px;
}

.implement-img {
    position: absolute;
    width: 407px;
    height: 582px;
    left: 269px;
    top: 120px;
    background: url(assets/content-image-2.jpg);
}

.implement-txt {
    position: absolute;
    width: 415px;
    height: 184px;
    left: 815px;
    top: 319px;
}

.sign {
    position: absolute;
    width: 1600px;
    height: 524px;
    left: 0px;
    top: 2932px;
    overflow: hidden;
    background-image: url(assets/Frame\ 7.png);
}

.text {
    margin: 0;
    margin-left: 13px;
    color: #FFFFFF;
}

.learn {
    width: 180px;
    height: 46px;
    background: #00AFDB;
    border: 0;
    margin-top: 30px;
}

.learnt {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.sign-in {
    position: absolute;
    width: 406px;
    height: 104px;
    left: 597px;
    top: 200px;
}

.mail {
    margin: 0;
    margin-top: 30px;
    height: 46px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
}

.in {
    width: 340px;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 0px;
    border: 0px;
    margin: 0;
    padding: 0;
}

.but {
    width: 66px;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #00AFDB;
    border-radius: 0px;
    border: 0;
}
.but:hover{
    background-color:#009CC2;
}

.download {
    position: absolute;
    width: 1600px;
    height: 464px;
    left: 0px;
    top: 3456px;
}

.dtext {
    position: absolute;
    left: 675px;
    top: 120px;
}

.dbtext {
    position: absolute;
    width: 480px;
    height: 40px;
    left: 560px;
    top: 168px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    margin-top: 20px;
}

.bap {
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 186px;
    height: 46px;
    left: 599px;
    top: 238px;
    margin-top: 30px;
}

.ban {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 186px;
    height: 46px;
    left: 815px;
    top: 238px;
    margin-top: 30px;
}

.apple {
    width: 127px;
    height: 46px;
    border: 0;
    background: #00AFDB;
}

.andro {
    width: 127px;
    height: 46px;
    border: 0;
    background: #00AFDB;
}

.aptext {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-content: center;
    margin-left: 9px;
}

.antext {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-content: center;
    margin-left: 9px;
}

.appleicon {
    position: static;
    width: 59px;
    height: 46px;
    left: 127px;
    top: 0px;
    background: #009CC2;
    border-radius: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 0px 0px;
    border: 0;
}

.androicon {
    position: static;
    width: 59px;
    height: 46px;
    left: 127px;
    top: 0px;
    background: #009CC2;
    border-radius: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 0px 0px;
    border: 0;
}

.foot {
    position: absolute;
    width: 1600px;
    height: 185px;
    left: 0px;
    top: 3920px;
    background: #000000;
}

footer a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #FFFFFF;
}

li {
    list-style-type: none;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
}

.menu {
    margin-top: 73px;
    margin-left: 160px;
    display: flex;
}

.logof {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 778px;
    top: 60px;
}

.end {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 0px;
    top: 0px;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #818181;
    position: absolute;
    width: 170px;
    height: 20px;
    left: 1270px;
    top: 73px;
}